body{
    font-family: "Montserrat";
}

.title_small{
    color: blue;
    font-weight: bold;
}

.section_1{
    background: url('./images/index_large.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.section_1_bottom{
    background: white;
    background-color: #e9e9e9;
    padding: 15px;
    font-size: 1vw;
}

.section_2{
    display: flex;
    justify-content: center;
    background-color: #B2CECF;
    padding: 20px;
}

.vertical_half{
    width: 50vw;
    height: 70vh;
    padding-top: 1%;
}

.section_2_title{
    text-align: center;
    font-size: 1vw;
}

#red_line{
    width: 10vw;
    background-color: red;
    height: 1vh;
    margin: 0;
}

.section_2_image{
    width: 45vw;
    height: 65vh;
    border-radius: 60px 0 60px 0;
}

.section_3{
    display: flex;
    justify-content: center;
    background-color: #FFF;
    padding: 20px;
}

.section_3_image{
    width: 45vw;
    height: 70vh;
    border-radius: 60px 0 60px 0;
}

.section_4{
    background: #B2CECF;
}

.section_4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_4_cards{
    padding-top: 35px;
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 25vw;
    transition: transform .2s;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.2);
}

.card_image{
    border-radius: 15px;
    background: url('./images/section_2_picture.jpg');
    background-size: cover;
    height: 250px;
}

.card_body{
    text-align: center;
    background: white;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    height: 100px;
}

.topnav {
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    font-weight: 800;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    text-decoration: underline;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 992px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 992px) {
    .topnav.responsive {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .right{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
  }

  .colored_titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    text-align: center;
    color: white;
    font-size: 1.2vw;
}

.section_white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleparagraph {
    font-size: 1.8vw;
}
.paragraphs {
    font-size: 1.4vw;
    text-align: center;
}

.paragraphs p {
    margin: 12px auto;
}

.colored_titles div{
    cursor: pointer;
    transition: transform .2s;
}

.colored_titles div:hover{
    transform: scale(1.2);
}

.section_6{
    background: url('./images/section_2_picture.jpg');
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.blueBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
    background-color: #B2CECF;
    opacity: 90%;
    margin-bottom: 40px;
    text-align: center;
}

.blueBox h2 {
    color: white;
}

.responsive_text{
    font-size: 2.2vw; margin-top: 10px; font-weight: 500;
    text-align: justify;
}

.responsive_text_small{
    font-size: 1.6vw;
    text-align: justify;
}

.section_3_right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_3_p{
    font-size: 2.5vw;
    font-weight: 500;
    text-align: justify;
}

@media only screen and (max-width: 992px) {
    .responsive_text{
        font-size: 3vw;
    }

    .section_2_image{
       display: none;
    }

    .section_3_image{
        height: 40vh;
        width: auto;
    }

    .section_2, .section_3 {
        flex-direction: column;
    }
    .vertical_half{
        width: 100%;
        padding-top: 10%;
    }

    .right{
        justify-content: flex-start;
    }

    .paragraphs p {
        margin: 10px auto;
        font-size: 2.2vw;
    }

    .section_5, .section_3{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section_3_right{
        padding-top: 0;
        /* display: none; */
    }

    
}

@media only screen and (max-width: 768px) {
    
    .card_image {
        display: none;
    }

    .paragraphs p {
        font-size: 2.5vw;
    }
    
    .blueBox{
        transform: scale(0.80);
        margin: 0 auto;
    }

}

@media only screen and (max-width: 600px) {
    .section_1{
        background: none;
        background-color: #B2CECF;
    }

    

    .section_4_cards{
        flex-direction: column;
        align-items: center;
    }
    
    .card{
        width: 50vw;
        margin: 15px 0;
    }

    .card_body{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .paragraphs p {
        font-size: 3vw;
    }

    .blueBox{
        transform: scale(0.60);
    }
    .section_6{
        justify-content: center;
    }

    .section_3_p{
        font-size: 3.5vw;
    }
}

.center_all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vertical_center{
    align-self: center;
}

.section_1_mobile{
    opacity: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: all 5s;
}

.visible{
    opacity: 1;
}
